
# Build outputs
.gradle/
.idea/
build/

# ShaderC tools
tools/windows/
tools/linux/
tools/macosx/

# Shader Outputs
src/main/resources/shaders/

# Skybox textures
src/main/resources/skybox/nasa1k.ktx
src/main/resources/skybox/nasa2k.ktx

# Core Dumps
core.*.dmp
javacore.*.txt
jitdump.*.dmp
Snap.*.trc
hs_err_pid*.log

sdf.png
