
# Build outputs
.gradle/
.idea/
build/

# ShaderC tools
tools/windows/
tools/linux/
tools/macos/

# Shader Outputs
src/main/resources/shaders/

# Core Dumps
core.*.dmp
javacore.*.txt
jitdump.*.dmp
Snap.*.trc

sdf.png
